{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="img/png" href="{% static 'images/favicon-icon.png' %}"/>
        <meta charset="utf-8" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZCZWJPZT7G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZCZWJPZT7G');
</script>
        <title>
            {% block title %}
            {% if home_page.meta_title %}{{ home_page.meta_title }}{% else %}{{ home_page.meta_title }}{% endif %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/animate.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Mayank Portfolio",
  "alternateName": "Mayank Agrawal",
  "url": "https://mayankportfolio.pythonanywhere.com",
  "logo": "https://mayankportfolio.pythonanywhere.com/static/images/logo.png",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "6260685116",
    "contactType": "customer service",
    "contactOption": "TollFree",
    "areaServed": "IN",
    "availableLanguage": ["en","Hindi"]
  },
  "sameAs": [
    "https://www.facebook.com/profile.php?id=100021812174655",
    "https://twitter.com/_Mayank____?t=JrKhdjjMInreMYByiiivVw&s=08",
    "https://www.instagram.com/__mayank___agrawal__/",
    "https://www.linkedin.com/in/mayank-agrawal-0ab974198/"
  ]
}
</script>

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <!-- Pixel Code for https://websiteboost.me/ -->
<script defer src="https://websiteboost.me/pixel/ra200bb4ms25ido2xs4j5qyqp4cqydn6"></script>
<!-- END Pixel Code -->
    </head>

    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7GDZHP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        {% block content %}

        {% endblock %}



        {# Global javascript #}

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/640c41c231ebfa0fe7f1ef09/1gr7u1omh';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    </body>
</html>
